<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Organization Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>Created by Vaishali Marar</strong></a>
					<nav id="nav">
						<a href="{{ url_for('org_profile') }}">Home</a>
						<a href="{{ url_for('org_profile') }}">Scheduling</a>
						<a href="{{ url_for('org_profile') }}">Members</a>
						<a href="{{ url_for('org_profile') }}">Patients</a>
						<a href="{{ url_for('sign_out') }}">Log Out</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Welcome Members of {{user.username}}!</h2>
						<p>Here is your patient and member management portal.</p>
					</header>

					<!-- Intro -->
						<div class="row">
							<section class="6u 12u$(medium)">
								<h2>What can you do?</h2>
								<p> This portal allows you to keep track of both patients and your organization's members.</p>
							</section>
							<section class="3u 6u(medium) 12u$(small)">
								<h3>Patients</h3>
								<p>You can manage your patient communications, patient scheduling and appointments, and upload patient records, note or documents. This portal allows you to view records of patients from other organizations as well, allowing you to access records from other specialities by requesting access! </p>
							</section>
							<section class="3u$ 6u$(medium) 12u$(small)">
								<h3>Members</h3>
								<p>Members refer to administrative assitants, aides and doctor. You can assign members 'Roles' on the portal to keep track of their activities and requests. Members can only be added through invite and have different permissions based on what their responsiblities in an organization are</p>
							</section>
						</div>
				</div>
			</section>

					<!-- Elements -->

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button">Scheduling</a></li>
										<li><a href="#" class="button">Patients</a></li>
										<li><a href="#" class="button">Members</a></li>
									</ul>




		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<h3>Get in touch</h3>

					<form action="#" method="post">

						<div class="field half first">
							<label for="name">Name</label>
							<input name="name" id="name" type="text" placeholder="Name">
						</div>
						<div class="field half">
							<label for="email">Email</label>
							<input name="email" id="email" type="email" placeholder="Email">
						</div>
						<div class="field">
							<label for="message">Message</label>
							<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
						</div>
						<ul class="actions">
							<li><input value="Send Message" class="button alt" type="submit"></li>
						</ul>
					</form>

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


</html>